/* For mobile phones: */
@media only screen and (max-width: 600px) {
  [class*="col-"] {
    width: 100%;    
    }
    .row{
      display:flex;
      flex-direction:Column-reverse;
    }
    .search-tag-list{    
        display: block;
    }
    .main-left{
        height: auto;
        overflow:visible;
        position:relative;
        z-index: 2;
    }
    .center-fit{
     width:98vw;
    }
    .tagarea {
      display: block;
      height: auto;
    }
    
    .imageinfo {
      margin-top: 5px;
      overflow: hidden;
      height: auto;
    }

    .posts {
      width: 32%;
      padding: 1px;
    }

    .nametext{
      width: 87.5%;
    }

    .posts-wrapper{
      padding-left: 10px;
    }

    .index-search{
      padding: 40px 0;
      text-align: center;
    }
}

@media only screen and (min-width: 600px) {
  /* For desktop: */
  .row {
    display:flex;
    flex-direction:row;
    }
  .col-1 {width: 10%;}
  .col-2 {width: 20%;}
  .col-3 {width: 30%;}
  .col-4 {width: 40%;}
  .col-5 {width: 50%;}
  .col-6 {width: 60%;}
  .col-7 {width: 70%;}
  .col-8 {width: 80%;}
  .col-9 {width: 90%;}
  .col-10 {width: 98%;}  
    .main-left{
        height: 96.25vh;
        /* height: 100%; */
        position:relative;
        z-index: 2;
    }
    .center-fit{
        height:93.25vh;
        max-width: 80vw;
    }
    .tagarea {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 96.25vh; /* 84.33vh;  84.8vh; */
    }
    
    .imageinfo {
      margin-top: 5px;
      overflow: hidden;
      height: 7.88vh; /* 7.03vh; */
    }

    .posts {
      width: 7.6%;
      padding: 5px;
    }

    .nametext{
      width: 93%;
    }

    .posts-wrapper{
      padding-left: 40px;
      padding-top: 25px;
      height: 93%;
    }

    .index-search{
      padding: 600px 0;
      text-align: center;
    }
}

[class*="col-"] {
  display: flex;
  flex-direction: column;
}

html,body
{
    background-color:#002D55;
    margin:0;     /* This is used to reset any browser-default margins */
    height:100vh; /* This is needed to overcome a Chrome bug. */
    width:100vw;
    font-family:Verdana,sans-serif;
    font-size:12px;
    line-height:1.5;
    overflow-x:hidden;
}

a, p, strong, label
{
    color:#FFFFFF;
    text-decoration:none;
    margin-top: 0em;
    margin-bottom: 0em;
}

a
{
	font-weight: bold;
}
 
hr{
  margin:5px 0px 0px 0px;
}

img{
    padding: 0px;
}

a:Hover
{
  color:#FFFFFF;
  text-decoration:none;
	font-weight: bold;
}

input, select{
  margin-left: 5px;
  margin-right: 5px;
}

input[type=text], input[type=password] {
  margin: 5px;
  width: 300px;
}

input[type=button] {
  margin: 5px;
}

.current-page {
  font-size: 20px;
}

.other-page{
  color:darkgrey;
  font-size: 16px;
}

.posts {
  float: left;
  display: flex;
 }

 .thumbs{
  width:165px;
  height:165px;
  object-fit:cover; /* Do not scale the image */
  object-position:center; /* Center the image within the element */ 
}

.tagged {
  border: 5px solid #439264;
}

.untagged {  
  border: 5px solid #b83c4c;
}

.vidmarker {
  position: relative;
  top: 10px;
  right: 36px;
  flex: 0 0 24px;
  height: 25px;
  background: hsla(0,0%,40%,.8);
  color: white;
  padding: 1px;
  text-align: center;
  z-index: 2;
}

.vidmarker-list {
 position: relative;
 top: -155px;
 right: -112px;
 width: 20px;
 height: 20px;
 background: hsla(0,0%,40%,.8);
 text-align: center;
 z-index: 2;
}

.vidandsoundmarker {
 position: relative;
 top: 10px;
 right: 36px;
 flex: 0 0 24px;
 height: 49px;
 background: hsla(0,0%,40%,.8);
 color: white;
 text-align: center;
 z-index: 2;
 padding: 1px;
}

.vidandsoundmarker-list {
 position: relative;
 top: -155px;
 right: -112px;
 width: 20px;
 height: 38px;
 background: hsla(0,0%,40%,.8);
 text-align: center;
 z-index: 2;
}

.nametext {
  position: relative;
  top:-40px;
  right: -4px;
  overflow:hidden;
  background: hsla(0,0%,40%,.8);
}

.nametext-list {
 position: relative;
 top: -15px;
 text-align: center;
}

.nowrap{
 white-space: nowrap;
 /* transform: translateX(1%); */
 animation: scroll-left 5s linear infinite;
 animation-play-state: paused;
}

.posts:hover .nowrap{
   animation-play-state: running;
}

@keyframes scroll-left {
 0% {
   transform: translateX(1%);
 }
 100% {
   transform: translateX(-280%);
 }
 /* 0% { left: 100%; }
 50% { left: -100%; }
 100% { left: -100%; } */
}

.star {
  width:35px;
  height:35px;
  object-fit:contain; /* Do not scale the image */
  object-position:center; /* Center the image within the element */ 
}
 
 .center-fit
{
	display: block;
	margin-left: auto;
	margin-right: auto; 
	object-fit: contain;
}

.container_header{
    height:26px;
}

.container_subheader{
  height:22px;
}

.container_footer * {
  padding: 0px 10px;
  vertical-align: middle;
}

.container_footer {
  height: auto;
  text-align: center;
  /* padding-top: 10px; */
}

.posts-wrapper{
  width: 100%;   
}

.rating-wrapper{
	display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.search-tag-list{    
    list-style: none;
    padding-left: 15px;
    height: 88.5vh;
}

.database_container_middle {
    /* Take the remaining width */
	width: 100%;
	align-items:center;
}

.tagadd {
  display:block;
  width:auto;
  text-align:center;
  margin-top: 5px;
}

.rem-button {
  display: none;
}

#mr {
  margin-left: 2%;
  display: none;
}

#ir {
  margin-left: 2%;
  display: none;
}

#sr{
  margin-left: 2%;
  display: none;
}

#edit-tag {
  display: none;
}

#add-parent {
  display: none;
}

#add-child {
  display: none;
}

#add-alias {
  display: none;
}

#otherpages{
  color: lightgray;
}

#recent {
  display: none;
}

#oldest {
  display: none;
}

#videos {
  display: none;
}

#ignored-tags {
  display: none;
}

#separator {
  display: none;
}

#edit-tags {
  display: none;
}

#search-indicator {
  display: none;
}

#mark-review {
  display: block;
}

#state-indicator {
  vertical-align: middle;
}